/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card.cardconfiguracion  mat-card-header-title {
    width: 100% !important;
    text-align: center; 
}
mat-card.cardconfiguracion {
    width: 100% !important;
    text-align: center; 
}

mat-card.cardconfiguracion  mat-form-field {
    width: 100% !important;
}

app-root {
    display: block;
    height: 100%;
  }

.barra_lateral{
    height: 100%;
}