/*.block_container
{
    text-align:left;
    padding: 20px;
    height:200%
    
}
.contenido
{
    display:inline-block;
    padding: 20px;
    overflow: scroll; overflow-x:hidden;
    height:100%
}
.menu
{
    display: inline-block;
    width: 200px;
    overflow: scroll; overflow-x:hidden;
    height:100%
}*/

 
