    <mat-sidenav-container fxLayout="column">
        <mat-sidenav #sidenav >
          <p><button mat-button (click)="sidenav.toggle()">Menu</button></p>
          <p>
                <button type="button" mat-fab extended color="primary" (click)="AdministrarPersona()">Abrir Persona
                    <mat-icon>3d_rotation</mat-icon>
                </button>
                <br>
                <br>
                <button type="button" mat-fab extended color="primary" (click)="AdministrarPersona()">Abrir Persona
                    <mat-icon>3d_rotation</mat-icon>
                </button>
                <br>
                <br>
                <button (click)="AdministrarUbicacion()">Abrir Ubicacion</button>
                <br>
                <br>
                <button (click)="OcultarTodos()">Cerrar</button>
          </p>
        </mat-sidenav>
      
        <mat-sidenav-content>
          <p><button mat-button (click)="sidenav.toggle()">Menu</button></p>
          <p>
            <app-administrar-ubicaciones *ngIf="mostraradministrarubicacion" [idEmpresa]="idEmpresa"></app-administrar-ubicaciones>
            <app-administrar-personas *ngIf="mostraradministrarpersona" [idEmpresa]="idEmpresa"></app-administrar-personas>  
          </p>
        </mat-sidenav-content>
      </mat-sidenav-container>
      
      
      

    

    
    
    

